._cart_Content{
    width: 100%;
    display:flex;
    justify-content:space-between;
     
      padding-bottom:20px;
      padding-top:20px;
      .cartPrice{
        p{
            font-size: 16px;
    font-weight: 400;
    color: #1C1C1C;
    margin-right: -20px;
        }
      select{
        Width:123px;
Height:30px;
        border:0;
        color:rgba(128, 128, 128, 0.863);
        border:1px solid #DEE2E7;
         border-radius:5px;
      }
    }
    .left{
  display:flex;
  align-items:center;
  
    ._cart_image{
        width:60px;
        height:60px;
        padding:5px;
        border-radius: 5px;
        margin-top: -5px;
        border:1px solid#DEE2E7;
        img{
           width:100%;
        height:100%;  
        }
    }
    .Cart_des{
        padding-left:10px;
        h1{
            font-size:16px;
            font-weight: 500;

        }
        p{
            margin-top:-30px;
            font-size: 14px;
            font-weight: 400;
            color:rgba(139, 150, 165, 1) ;
        }
        button{
            background:0;
            border:0;
            background:#fff;
             border:1px solid #DEE2E7; 
            margin-left:10px;
            font-size:13px;
            border-radius:5px;
padding:2px 6px;
        }
        .remove{
             color:red;  
        }
        .save{
            color:blue;
        }
    }
}
}