._input_feild {
  width:566px;
 display: flex;
border: 2px solid blue;
border-right: 0;
border-radius: 5px 0 0 5px;
  input{
    width: 421px;
    padding:5px 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border:none;
    &::placeholder{
        color: gray;
        font-weight: 500;
    }
    
  }
   select{
        padding:6px 10px;
        width:145px;
        border-color: blue;
        border-right: 2px;
        border-top: 0;
        border-bottom: 0;
            outline: none;
    }
}
