
._navbar_wrapper{
   width:100%;
 
._navbar_container{
 
    ul{
          display: flex;
          padding-top: 20px;
        li{
           a{
              padding-right: 20px;
              color:rgba(128, 128, 128, 0.833);
           }
        }
    }
}
}