._top_footer_{
    background-color: #EFF2F4;
    padding: 40px 50px;
    text-align: center;
    h1{
        font-size: 20px;
    }
    p{
        color: #1d1414;
        font-size: 16px;
       
    }
    input{
        border:none;
        outline: none;
        margin-right: 10px;
        padding: 5px 15px;
        width: 300px;
        border-radius: 3px;
    }
}