.card {
  width: 100%;
  height: 129px;
  padding: 1rem 0.5rem;
  position: relative;

  img {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 18px;
    bottom: 8px;
  }

  h1 {
    font-size: 15px;
    font-weight: 400;
  }
  span{
    color: #8B96A5;
    font-size: 13px;
  }
}
