.botfooter_wrapper{
    
background: #EFF2F4;
.Bofooter_container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
     color: #606060;
      font-size: 15px;
    p{
      
        font-weight: 400;
        
    }
    
    img{
        margin-left: 5px;
    }
}
}