._home_wrapper{
    background: #F7FAFC;
    margin-top: 20px;
    padding-top: 30px;
    height: 450px;
    ._home_container{
        background: #fff;
        width: 1180px;
        height:400px;
         display: flex;
         padding: 20px 10px;
         border:1px solid #DEE2E7;
    }
}